.cls-1 {
    fill: #0074bc;
}   

.cls-2 {
    fill: #ee3d96;
}

.cls-3 {
    fill: #f79548;
}

.cls-4 {
    fill: #ece956;
}

.cls-5 {
    fill: #ffcc4e;
}

.cls-6 {
    fill: #fbb03b;
}

.cls-7 {
    fill: #6c3f99;
}

.cls-8 {
    fill: #00a188;
}

.cls-9 {
    fill: #00a2a5;
}

.cls-10 {
    fill: #a3cf62;
}

.cls-11 {
    fill: #b43e97;
}

.cls-12 {
    fill: #43408e;
}

.cls-13 {
    fill: #2f2723;
}



#eyeL {
    transform: translateX(-300px);
}
#eyeL {

}